.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerArea {
    display: flex;
    width: 100vw;
    margin-top: 0;
    padding-top: 0;

    flex-direction: column;
    align-items: center;

}

p {
    font-size: 25px;
}

img {
    width: 500px;
    height: 500px;
    border-radius: 15px;
    background-color: black;
}