.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerArea {
    display: flex;
    background-color: rgb(26, 119, 232);
    border-radius: 15px;
    width: 1000px;
    margin-top: 10px;
    flex-direction: column;
}

img {
    width: 500px;
    height: 500px;
    border-radius: 15px;
}