
.reviewContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    flex-direction: row;
    background-color: #f4f4f4;
    position: relative;
}

.reviewCard {
    background-color: white;
    margin: 10px; 
    border-radius: 8px;
    padding: 20px; 
    border: 1px solid gray;
    max-width: 400px;
}

.rating {
    background-color: black;
    border-radius: 5px;
    color: #00FAD0;
}

.link {
    color: black;
    background: white;
    padding: 8px 16px;
    border-radius: 7px;
    border: 1px solid black

}

p {
    font-size: 20px; 
}

#myReviewHeader {
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 60px;
    border-bottom: 1px solid gray;
}

#buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin: 0;
    padding: 0;

    a {
        padding: 8px 20px;
    }
    button {
        margin: 0px;
        padding: 10px 0px;
        max-width: 100px;
    }

}
